/* All CSS in this file is to be used across all pages */

/* Navbar styling */
.navbar {
    z-index: 99 !important;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.nav-link {
    text-align: center;
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin: 6px;
}

.nav-link.active {
    background-color: #426678;
    border-radius: 5px;
    color: #fff !important;
}

.nav-link:hover {
    color: #fff !important;
    background-color: #4d7488;
    border-radius: 5px;
}

/* Body styling */
body {
    font-family: "Helvetica", sans-serif;
    margin: 0;
    background-color: #F2F2F2 !important;
    color: #0D0D0D;
}

h1,h2,h3,h4,h5,h6,ul,li,i{
    color: #0D0D0D;
}

p {
    color: #0D0D0D;
    line-height: 2.5;
}

img.img-block {
    display: block;
    width: 90%;
    border-radius: 10px;
    border-width: 2px;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

div.nav-block {
    padding: 0;
    position: relative;
}

img.nav-block {
    width: 100%;
    transition: 0.2s all ease-in-out;
    padding: 0;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
}

img.fill-container {
    display: block;
    width: 100%;
}

.modal-body.modal-small-padding {
    padding: 2px;
}

.center-elem {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.float-right {
    float: right;
}

.logo-container {
    position: relative;
}

img.logo {
    width: 200px;
    height: auto;
}

.logo {
    position:absolute;
    z-index: 100;
    top: -50px;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

.btn {
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 5px;
    margin: 5px;
    background-color: #52c5ed !important;
    color: #fff !important;
}

.btn:hover {
    background-color: #48afd1 !important;
    color: #fff !important;
}

#footer{
    align-items: center;
    text-align: center;
}

#footer h4, #footer ul a ,#footer ul{
    list-style-type: none;
    margin: none;
    width:auto;
    padding: 0;
}

#homepage-banner {
    background-attachment:unset;
    height: 750px;
    background-image: url(../images/school.jpeg);
    background-color: #666;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-position-y: -50px;
}

#admissions-banner {
    background-attachment:unset;
    height: 500px;
    background-image: url(../images/mooncolony.jpeg);
    background-color: #666;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-position-y: -300px;
}

#studentlife-banner {
    background-attachment:unset;
    height: 500px;
    background-image: url(../images/bedroom.jpg);
    background-color: #666;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-position-y: -50px;
}

#faculty-banner {
    background-attachment:unset;
    height: 500px;
    background-image: url(../images/spacesuits.jpeg);
    background-color: #666;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-position-y: 0px;
}